@model RecipeApp.ViewModels.PreparationStepViewModel

        <form asp-action="Create" asp-controller="PreparationSteps">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

        
            <div class="tableLine">
                <input asp-for="NewStep.RecipeId" type="hidden"/>   
                <div class="tableElement50">
                    <input asp-for="NewStep.Description" class="form-control" />
                    <span asp-validation-for="NewStep.Description" class="text-danger"></span>
                </div>

                <div class="tableElement15 padLeft12">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </form>

<div>
    <hr/>
</div>
<div id='preparationStepTable'>
    @foreach (var item in Model.PreparationSteps) {
        <div class="tableLine"> 
            <div class="tableElement50 padLeft12">
                @Html.DisplayFor(modelItem => item.Description)
            </div>

            <div class="tableElement5">
                @if( item != Model.PreparationSteps.First())
                {
                    @using(Html.BeginForm("MoveUp","PreparationSteps"))
                    {
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="recipeId" value="@item.RecipeId" />
                    <button type="submit" value="MoveUp" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-up" aria-hidden="true"></span>
                    </button>
                    }
                }

            </div>
             <div class="tableElement5">
                @if( item != Model.PreparationSteps.Last())
                {
                    @using(Html.BeginForm("MoveDown","PreparationSteps"))
                    {
                    <input type="hidden" name="id" value="@item.Id" />
                    <input type="hidden" name="recipeId" value="@item.RecipeId" />
                    <button type="submit" value="MoveDown" class="btn btn-default">
                        <span class="glyphicon glyphicon-arrow-down" aria-hidden="true"></span>
                    </button>
                    }
                }
            </div>
            <div class="tableElement5">
                @using(Html.BeginForm("Delete","PreparationSteps"))
                {
                <input type="hidden" name="id" value="@item.Id" />
                <input type="hidden" name="recipeId" value="@item.RecipeId" />
                <button type="submit" value="Delete" class="btn btn-danger">
                    <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                </button>
                }
            </div>
        </div>
        <hr/>
    }
</div>